In [1]:
# Import related libraries

import numpy as np
import pandas as pd
from scipy import stats
import warnings
warnings.simplefilter('ignore')

# **EXERCISE 1.**

**The hourly wages in a particular industry are normally distributed with mean 13.20 and standard deviation 2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)**

In [2]:
# STEP - I : ASSUMPTIONS

# 1 - Sample is selected random.
# 2 - Observations are independent.
# 3 - Population standard deviation is known or 30 - observations sample.

# Since the above 3 assumptions are valid, we will use z-test.

In [3]:
# STEP - II : HYPOTHESES

# H0 : Mu = 13.20 $
# Ha : Mu < 13.20 $

In [4]:
# STEP - III : TEST STATISTIC

Mu = 13.20  # mean of population
Sigma = 2.5  # standard deviation of population
x_bar = 12.2  # mean of sample
n = 40  # number of sample
α = .01

In [5]:
z = (x_bar - Mu)/ (Sigma / np.sqrt(n))
z

-2.5298221281347035

In [6]:
p_value = stats.norm.cdf(z)
p_value

0.005706018193000826

In [7]:
α = 0.01

if p_value < α:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

**Since the p-value is less than the significance level (α), we reject the H0 hypothesis. In other words; we reject that the population mean wage is $13.20. In conclusion; the company can not be accused of paying substandard wages.**

# **EXERCISE 2.**

**Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?**

In [10]:
df = pd.read_excel("soil.xlsx")
df

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277
30    NaN  1.593
31    NaN  1.172
32    NaN  1.510
33    NaN  1.740
34    NaN  1.355

In [11]:
df.dropna(inplace=True)

In [12]:
df

    Soil1  Soil2
0   1.442  1.364
1   1.943  1.878
2   1.110  1.337
3   1.912  1.828
4   1.553  1.371
5   1.641  1.428
6   1.499  1.119
7   1.347  1.373
8   1.685  1.589
9   1.578  1.714
10  1.866  1.260
11  1.653  1.492
12  1.665  1.395
13  1.640  1.778
14  1.976  1.611
15  1.754  1.202
16  1.589  1.542
17  1.976  1.094
18  1.863  1.557
19  1.932  1.053
20  1.570  1.183
21  1.613  1.367
22  2.054  1.144
23  1.550  1.151
24  1.714  1.561
25  1.896  1.192
26  1.737  1.489
27  1.740  1.379
28  1.708  1.501
29  1.548  1.277

In [47]:
df.Soil1.mean()

1.6918

In [48]:
df.Soil1.median()

1.675

In [50]:
stats.mode(df.Soil1)

ModeResult(mode=array([1.976]), count=array([2]))

In [51]:
df.Soil2.mean()

1.4076333333333333

In [52]:
df.Soil2.median()

1.376

In [53]:
stats.mode(df.Soil2)

ModeResult(mode=array([1.053]), count=array([1]))

In [8]:
# STEP - I : ASSUMPTIONS

# 1 - A quantitative response variable for two groups.
# 2 - Independent random samples.
# 3 - Approximately normal population distribution for each group.

# Since the above 3 assumptions are valid, we will use the Independent Samples T-Test.

In [9]:
# STEP - II : HYPOTHESES

# H0 : Mu1 = Mu2 (No difference between the means of the two groups)
# Ha : Mu1 != Mu2 (Significant difference between the means of the two groups)

In [13]:
# STEP - III : TEST STATISTIC

indTest = stats.ttest_ind(df.Soil1, df.Soil2)
indTest

Ttest_indResult(statistic=5.134893443609086, pvalue=3.4402046436336477e-06)

In [14]:
α = 0.01

if indTest.pvalue < α:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

**Since p-value is less than significance level (α), we reject the H0 hypothesis. In other words, there is a difference between the means of the two groups**